MdlpApiClient.Xsd/512-withdrawal_without_kkt.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:include schemaLocation="base_types.xsd" />
    <xs:complexType name="withdrawal_without_kkt">
        <xs:annotation>
            <xs:documentation>Регистрация в ИС МДЛП сведений об отпуске ЛП в аптеке по документам, отличным от кассового чека</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="subject_id_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата совершения операции</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sales">
                <xs:annotation>
                    <xs:documentation>Детализация продажи</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="union" maxOccurs="25000">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="doc_number" type="string200_type">
                                        <xs:annotation>
                                            <xs:documentation>Номер документа</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="doc_date" type="date_type">
                                        <xs:annotation>
                                            <xs:documentation>Дата документа</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="prescription" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Рецепт</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="prescription_num" type="document_number_200_type">
                                                    <xs:annotation>
                                                        <xs:documentation>Реквизиты документа: номер рецепта
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="prescription_date" type="date_type">
                                                    <xs:annotation>
                                                        <xs:documentation>Реквизиты документа: дата регистрации рецепта
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="prescription_series" type="document_number_200_type" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Реквизиты документа: номер серии рецепта
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="detail" maxOccurs="1000">
                                        <xs:annotation>
                                            <xs:documentation>Детализация продажи по каждой единице продукции</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sgtin" type="sign_sgtin_type">
                                                    <xs:annotation>
                                                        <xs:documentation>Номер SGTIN</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="cost" type="price_type">
                                                    <xs:annotation>
                                                        <xs:documentation>Стоимость (с учетом налога на добавленную стоимость)</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="vat_value" type="price_type">
                                                    <xs:annotation>
                                                        <xs:documentation>Cумма НДС, руб</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="sold_part" type="part_type" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Доля от вторичной упаковки</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                        <xs:unique name="ux_withdrawal_without_kkt_sign">
                                            <xs:selector xpath="sgtin" />
                                            <xs:field xpath="." />
                                        </xs:unique>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="512" use="required" />
    </xs:complexType>
</xs:schema>
