MdlpApiClient.Xsd/812-successor_acceptance.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="base_ref.xsd"/>
	<xs:include schemaLocation="base_types.xsd"/>
	<xs:complexType name="successor_acceptance">
		<xs:annotation>
			<xs:documentation>Регистрация в ИС МДЛП сведений о перемещении лекарственных препаратов на склад правопреемника</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="subject_id" type="subject_id_type">
				<xs:annotation>
					<xs:documentation>Идентификатор организации-отправителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shipper_id" type="subject_id_type">
				<xs:annotation>
					<xs:documentation>Идентификатор организации-правопредшественника</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operation_date" type="datetimeoffset">
				<xs:annotation>
					<xs:documentation>Дата совершения операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="doc_date" type="date_type">
				<xs:annotation>
					<xs:documentation>Реквизиты документа-основания: дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="doc_num" type="document_number_200_type">
				<xs:annotation>
					<xs:documentation>Реквизиты документа-основания: номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="order_details">
				<xs:annotation>
					<xs:documentation>Список перемещаемой продукции</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice maxOccurs="25000">
						<xs:element name="sgtin" type="sign_sgtin_type">
							<xs:annotation>
								<xs:documentation>Номер SGTIN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="sscc" type="sscc_type">
							<xs:annotation>
								<xs:documentation>Номер транспортной упаковки</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
				<xs:unique name="ux_successor_acceptance_sgtin">
					<xs:selector xpath="sgtin"/>
					<xs:field xpath="."/>
				</xs:unique>
				<xs:unique name="ux_successor_acceptance_sscc">
					<xs:selector xpath="sscc"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="action_id" type="xs:int" use="required" fixed="812"/>
	</xs:complexType>
</xs:schema>
